@font-face {
    font-family: 'SourceSansPro';
    src: url(../fonts/SourceSansPro.ttf);
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto.ttf);
}